<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <link rel="stylesheet" href="products.css">
</head>


<body>

  <div class="container">
    <main>
      <div class="searchbar">
        <span class="material-symbols-sharp">search</span>
        <input type="text" placeholder="Search">
      </div>

      <div class="products">
        <h2>All products</h2>
        <table>
          <thead>
            <tr>
              <th>Client name</th>
              <th>Package number</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr>
              <td>Foldable phone</td>
              <td>85631</td>
              <td>Due</td>
              <td class = "warning">Pending</td>
              <td class = "primary">Details</td>
            </tr> -->
            {% for package in Packages %}
            <tr>
              <td> {{package.Client.Name}} </td>
              <td> {{ package.id }} </td>
              {% if package.Status == "Declined" %} 
                {% with status="danger" %}{% endwith %}
                {% elif package.Status == "Pending" %}
                  {% with status="warning" %}{% endwith %}
                {% else %}
                  {% with status="primary" %}{% endwith %}
                <td class="{{status}}"> {{package.Status}} </td>
              {% endif %}
              <td>
                <a href="{% url "package_details" package.id %}">Details</a>
              </td>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url "All Packages" %}">Show All</a>
      </div>

      <div class="top">

        <div class="theme-toggle-btn">
          <span class="material-symbols-sharp active">light_mode</span>
          <span class="material-symbols-sharp">dark_mode</span>
        </div>

        <div class="profile">
          <div class="info">
            <p>Hey, <b>Tahir</b></p>
            <small class = "text-muted">Admin</small>
          </div>

          <div class="profile-photo">
            <img src="images/profile-1.jpg" alt="">
          </div>
        </div>


      </div>

    </main>
  </div>


<script src="product.js"></script>
</body>


</html>